/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    font-family: var(--font-variation);
    font-variation-settings:
        "wght" var(--fw-p),
        "slnt" var(--slant);
    min-inline-size: 320px;
    min-block-size: 100dvb;
    margin-inline: auto;
    background-image: var(--multy-gradient);
    background-attachment: fixed;
}

.header {
    font-family: var(--font-regular);
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.header__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--multy-block-width);
    min-height: var(--header__block-height);
    gap: 20px;
    background-color: var(--bg-color);
    border: 2px solid var(--bd-color);
    margin-block-start: 100px;
    margin-block-end: 101px;
}

.header__title {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}
.header__subtitle {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    gap: clamp(2.9375rem, 2.849rem + 0.3756vw, 3.1875rem);
}

.article {
    border: 2px solid var(--bd-color);
    width: var(--multy-block-width);
    background-color: var(--bg-color);
}

.article__titles {
    font-variation-settings:
        "wght" var(--fw-h),
        "slnt" var(--slant);
    padding: 4px 10px;
    font-size: 18px;
}

.article__paragraphs {
    display: flex;
    font-size: 18px;
    gap: 25px;
    flex-direction: column;
    margin: 25px 25px 0;
    min-width: var(--paragraph-width);
}

.card__container-buttons {
    display: flex;
    justify-self: flex-end;
    margin-inline-end: 25px;
    margin-block-end: 25px;
    margin-block-start: 25px;
    align-items: center;
}

.card__like-button {
    width: 130px;
    height: 38px;
    background-color: var(--bg-color);
    cursor: pointer;
}

.card__icon-button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.button__text {
    font-family: var(--font-regular);
    font-size: 14px;
}

.card__image {
    position: relative;
    border-top: 2px solid var(--bd-color);
    border-bottom: 2px solid var(--bd-color);
    height: var(--article-images-height);
}

.image__common {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    display: block;
}

.image__decision {
    filter: brightness(150%);
}
.image__thougts {
    filter: blur(5px);
}
.image__shocked {
    filter: sepia(100%);
}
.image__way {
    filter: saturate(500%);
}
.image__support {
    filter: sepia(0.4) brightness(1.2) saturate(1.5);
}

.image__brain {
    filter: sepia(0.6) hue-rotate(-50deg) saturate(1.8);
}
.image__meditation {
    filter: saturate(5);
}

.label {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: var(--font-regular);
    text-transform: uppercase;
    font-size: 14px;
    mix-blend-mode: hard-light;
    color: var(--text-color);
    opacity: 50%;
    text-shadow:
        -1px 0 var(--stroke-color),
        0 1px var(--stroke-color),
        1px 0 var(--stroke-color),
        0 -1px var(--stroke-color);
}

@supports (-webkit-text-stroke: 0.5px var(--stroke-color)) {
    .label {
        text-shadow: none;
        -webkit-text-stroke: 0.5px var(--stroke-color);
        color: color-mix(in srgb, var(--text-color), transparent 50%);
        font-family: var(--font-regular);
    }
}

.card__container-buttons_save {
    display: flex;
    outline: 2px solid var(--bd-color);
    flex-wrap: wrap;
    line-height: 0.9;
    margin-block-end: 100px;
}

.button__text_save {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.button__save {
    width: var(--button-save-width);
    height: var(--button-save-height);
    cursor: pointer;
}

.disk__icon-save {
    width: var(--disk-icon);
    height: var(--disk-icon);
}

.disk__icon-dialog {
    width: 39px;
    height: 39px;
    flex-shrink: 0;
}

.dialog__window[open] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--dialog-window);
    height: 191px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 30px 40px;
    gap: 30px;
    overflow: hidden;
    position: fixed;
    inset: 0;
    transition: opacity 5s ease-in-out;
    background-color: var(--bg-color);
    outline: 2px solid var(--bd-color);
}
.dialog__content {
    display: flex;
    align-items: center;
    gap: 17px;
    line-height: 1.5;
}

.dialog__window::backdrop {
    background-color: var(--bd-color);
    position: fixed;
    opacity: 75%;
}

.dialog__button {
    width: var(--dialog-button);
    height: 38px;
    background-color: var(--bg-color);
    cursor: pointer;
    text-transform: uppercase;
}

@media (width > 375px) {
    .button__text_save {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
